.money {
  padding: 146px 0 96px;
}
.money-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.money-item {
  max-width: 350px;
  width: 100%;
  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 106px;
    height: 106px;
    background-image: url("../../img/money1.svg");
    background-repeat: no-repeat;
    background-size: 106px 106px;
  }
  &:nth-child(2)::before {
    background-image: url("../../img/money2.svg");
  }
  &:nth-child(3)::before {
    background-image: url("../../img/money3.svg");
  }
}
.money-title {
  color: #36536b;
  text-align: center;
  padding: 32px 0 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
}
.money-text {
  color: #6c8294;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.115px;
}
@media only screen and(max-width:1020px) {
  .money {
    padding: 100px 0;
  }
  .money-item {
    max-width: 223px;
  }
}
@media only screen and(max-width:707px) {
  .money {
    padding: 80px 0;
  }
  .money-list {
    flex-direction: column;
  }
  .money-item {
    max-width: 328px;
    padding-bottom: 48px;
    &:nth-child(3) {
      padding: 0;
    }
  }
}
